<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/main.css">
    <title>Uninhibited</title>
  </head>
  <body>
    <form action="/login">
      <label for="username">username</label><br>
      <input type="text" /><br>
      <label for="password">password</label><br>
      <input type="text" /><br>
      <input type="button" value="login" />
    </form>
  </body>
</html>
