<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- HTMX -->
    <script
      src="https://unpkg.com/htmx.org@1.9.11"
      integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
      crossorigin="anonymous"
    ></script>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="stylesheets/main.css" />
    <title>Uninhibited</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="images/logo.svg" alt="book logo" />
        <h1>League Journal</h1>
      </div>
      <button>Sign In</button>
    </header>
    <main>
      <article class="intro">
        <h1>Real and fast improvement</h1>
        <p>
          What's been tried and tested for learning is repetition and self
          evaluation. League journal simplifies the process of note taking and
          self evaluation in terms of league of legends.
        </p>
        <img
          src="images/lunnefågel.jpg"
          alt="Faker studying a book, improving on league"
        />
        <div class="links">
          <button>Sign up now</button>
          <br />
          <a href="">Already a member? Login in.</a>
        </div>
      </article>
      <article class="features">
        <h1>Fetch your games in milliseconds</h1>
        <img
          src="images/overview-img.png"
          alt="Images showing the service in use"
        />
        <p>
          Get your last 3, 4, 5 or even 10 last games and start taking notes
          today.
        </p>
        <ul>
          <li>
            Keep track of multiple accounts, even if they aren't <i>yours</i>.
            Maybe fakers?
          </li>
          <li>
            Can be reviewed later on. Streamlining the improvement process.
          </li>
          <li>
            Store metadata about the game, your teammates and your opponents for
            you own memory and note taking.
          </li>
        </ul>
      </article>
    </main>
    <footer>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">Features</a></li>
      </ul>
      <p class="copyright">© 2024 Privacy — Terms</p>
    </footer>
  </body>
</html>
